// variables
$primary-text-color: #fff;
$secondary-text-color: #212121;
$primary-sub-text-color: #464646;
$secondary-sub-text-color: #999999;
$border-color: #3c3c3c;

$HindFont: "Hind", sans-serif;

// fonts from CDN
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
// font-family: 'Montserrat', sans-serif;

.header-btn {
  background-color: transparent;
  border: none;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  width: 62px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  i {
    width: 23px;
    height: 23px;
    color: $primary-text-color;
    font-size: 23px;
  }
}

.logo {
  background-image: url("../../dist/6ce38522dc5eb673e943d6cce795ad02.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 16px;

  &-wrapper {
    font-family: $HindFont;
    color: $primary-text-color;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 52.2%;
    transform: translateX(-50%);
  }

  &-text {
    text-transform: uppercase;
    letter-spacing: 4.4px;
    line-height: 1.34;
    display: inline-block;
    padding-top: 5px;
    padding-left: 4px;
  }
}

.socials {
  display: flex;
  height: 100%;

  &-wrapper {
    height: 100%;
    float: right;
  }

  &-social {
    border: none;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-text-color;

    &.rss {
      width: 54px;
    }

    &.twitter {
      width: 54px;
    }

    &.tumblr {
      width: 50px;
    }

    &.facebook {
      width: 49px;

      i {
        margin-left: -3px;
      }
    }

    &.search {
      i {
        font-size: 16px;
        margin-top: 7px;
      }
    }
  }
}

.page-banner {
  &-outer {
    background: linear-gradient(0deg, transparent 50%, #212429 50%);
  }

  &-inner {
    max-height: 580px;
  }

  &-carousel {
    position: relative;

    &-title {
      position: relative;
      color: #fff;
      padding: 0 97px;
      max-width: 480px;
      margin-top: 37px;
    }

    &-item {
      position: relative;
      min-height: 580px;
      display: flex;
      align-items: center;

      img {
        position: absolute;
        top: 0;
        width: 100%;
        object-fit: cover;
      }

      span {
        display: inline-block;
        font-family: $HindFont;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 3.6px;
      }

      h1 {
        font-family: $HindFont;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 5.6px;
        text-transform: uppercase;
        margin-top: 15px;
      }
    }

    &-controls {
      position: absolute;
      right: -49px;
      top: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: $primary-text-color;
      transform: rotate(270deg) translate(33px, 11px);
      min-width: 255px;
      max-width: 580px;

      &-control {
        display: inline-block;
        font-size: 25px;
        cursor: pointer;

        &:first-of-type {
          margin-right: 20px;
        }

        &:last-of-type {
          margin-left: 20px;
        }
      }

      &-text {
        text-transform: uppercase;
        font-family: $HindFont;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2.9px;
        line-height: 30px;
      }

      &-dots {
        height: 32px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-dot {
          display: inline-block;
          width: 8px;
          height: 8px;
          border: 1px solid $primary-text-color;
          box-sizing: border-box;
          margin-right: 10px;
          cursor: pointer;

          &.active {
            background-color: $secondary-sub-text-color;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}


.subscribe {
  margin-bottom: 60px;

  &-inner {
    background-color: #f7f7f7;
    padding: 22px 30px 34px;
    display: flex;
  }

  &-title {
    text-transform: uppercase;
    color: $secondary-text-color;
    font-size: 20px;
    max-width: 175px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3.4px;
    line-height: 1.4;
    display: inline-block;
    margin-right: 55px;
  }

  form {
    margin-top: 7px;
    width: 100%;
  }

  &-input {
    width: 450px;
    height: 50px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
    color: $secondary-sub-text-color;
    font-family: $HindFont;
    text-transform: uppercase;
    background-color: $primary-text-color;
    border: 2px solid transparent;
    padding: 0 25px;
    letter-spacing: 1.5px;
    border-radius: 3px;
    margin-right: 22px;

    &:focus {
      transition: border .3s;
      border: 2px solid $border-color;
      outline: none;
    }

    &::placeholder {
      font-size: 15px;
      font-weight: 300;
      color: $secondary-sub-text-color;
      font-family: $HindFont;
      text-transform: uppercase;
    }

    &:first-of-type {
      margin-right: 28px;
      padding: 0 28px;
    }
  }

  &-btn {
    background-color: $secondary-text-color;
    color: $primary-text-color;
    font-family: $HindFont;
    letter-spacing: 2.8px;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 18px 71px 12px;
  }
}